<p id="notice"><%= notice %></p>

<p>
  <b>Process manager:</b>
  <%= @statistics_entry.process_manager_id %>
</p>


<%= link_to 'Edit', edit_statistics_entry_path(@statistics_entry) %> |
<%= link_to 'Back', statistics_entries_path %>
