<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @statistics_source_type.name %>
</p>


<%= link_to 'Edit', edit_statistics_source_type_path(@statistics_source_type) %> |
<%= link_to 'Back', statistics_source_types_path %>
