<div class="row-fluid">

  <div class="span6">

    <div class="widget">

      <div class="widget-header">
        <i class="icon-th"></i>

        <h3>Info</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">
        <table class="table">
          <tbody>
          <tr>
            <td class="description">Workspace Path</td>
            <td class="value"><span>/SmartControllers/Controller1</span></td>
          </tr>
          <tr>
            <td class="description">Version</td>
            <td class="value"><span>17.1 D3</span></td>
          </tr>
          <tr>
            <td class="description">IP Address</td>
            <td class="value"><span>172.21.3.150</span></td>
          </tr>
          <tr>
            <td class="description">Host Address</td>
            <td class="value"><span>172.21.3.207</span></td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-danger"><i class="icon-retweet"></i>&nbsp Reboot</button>
      </div>
      <!-- /widget-content -->

    </div>

    <div class="widget">

      <div class="widget-header">
        <span class="icon-cog"></span>

        <h3>Settings</h3>
      </div>
      <!-- .widget-header -->

      <div class="widget-content">
        <table class="table">
          <tbody>
          <tr>
            <td class="description">Auto-Start</td>
            <td class="value"><span>False</span></td>
          </tr>
          <tr>
            <td class="description">Default Speed</td>
            <td class="value"><span>50</span></td>
          </tr>
          <tr>
            <td class="description">Monitor Speed</td>
            <td class="value"><span>100</span></td>
          </tr>
          <tr>
            <td class="description">Power Timeout</td>
            <td class="value"><span>10</span></td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-primary"><i class="icon-edit"></i>&nbsp Edit</button>
      </div>
      <!-- .widget-content -->
    </div>

  </div>

  <div class="span6">

    <div class="widget">

      <div class="widget-header">
        <i class="icon-share"></i>

        <h3>Commands</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">
        <form class="form-inline">
          <input type="text" class="input-large" placeholder="Monitor Command">
          <button type="submit" class="btn btn-primary"><i class="icon-share"></i>&nbsp Send</button>
        </form>
            <pre class="pre-scrollable">
              <ol class="linenums">
                <li class="L0"><span class="tag"></span></li>
              </ol>
            </pre>
      </div>
      <!-- /widget-content -->

    </div>

    <div class="widget">

      <div class="widget-header">
        <i class="icon-th-list"></i>

        <h3>Program</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">
        <div class="content">
          <div class="row-fluid">
            <div class="span9">
              <form class="form-inline">
                <input type="text" class="input-large" placeholder="Program Name">
                <button type="submit" class="btn btn-primary"><i class="icon-file"></i>&nbsp Save</button>
              </form>
            </div>
            <div class="span3">

                <div class="btn-group">
                  <button class="btn"><i class="icon-play"></i></button>
                  <button class="btn"><i class="icon-stop"></i></button>
                  <button class="btn"><i class="icon-pause"></i></button>
                </div>

            </div>
          </div>


           <pre class="pre-scrollable">
            <ol class="linenums">
              <li class="L0"><span class="tag">&lt;table&gt;</span></li>
              <li class="L0"><span class="pln">    </span><span class="tag">&lt;/tr&gt;</span></li>
              <li class="L0"><span class="pln">  </span><span class="tag">&lt;/tbody&gt;</span></li>
              <li class="L0"><span class="tag">&lt;/table&gt;</span></li>
              <li class="L0"><span class="tag">&lt;table&gt;</span></li>
              <li class="L0"><span class="pln">    </span><span class="tag">&lt;/tr&gt;</span></li>
              <li class="L0"><span class="pln">  </span><span class="tag">&lt;/tbody&gt;</span></li>
              <li class="L0"><span class="tag">&lt;/table&gt;</span></li>
              <li class="L0"><span class="tag">&lt;table&gt;</span></li>
              <li class="L0"><span class="pln">    </span><span class="tag">&lt;/tr&gt;</span></li>
              <li class="L0"><span class="pln">  </span><span class="tag">&lt;/tbody&gt;</span></li>
              <li class="L0"><span class="tag">&lt;/table&gt;</span></li>
              <li class="L0"><span class="tag">&lt;table&gt;</span></li>
              <li class="L0"><span class="pln">    </span><span class="tag">&lt;/tr&gt;</span></li>
              <li class="L0"><span class="pln">  </span><span class="tag">&lt;/tbody&gt;</span></li>
              <li class="L0"><span class="tag">&lt;/table&gt;</span></li>
            </ol>
           </pre>
          <!---->

        </div>
      </div>
      <!-- /widget-content -->

    </div>

  </div>

</div>

