<div class="row-fluid">

  <div class="span6">

    <div class="widget">

      <div class="widget-header">
        <i class="icon-star-empty"></i>

        <h3>Active Recipe</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">
        <div>
          <div class="row-fluid">
            <div class="span6">
              <a href="#" class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
              </a>
            </div>
            <div class="span6">
              <h4>Product A</h4>
              <br/>
              <ul>
                <li>Part Size: <strong>25mm x 25mm</strong></li>
                <li>Pallet: <strong>4 x 4 x 4</strong></li>
                <li>Default Speed: <strong>100</strong></li>
                <li>Box Size: <strong>100mm x 100mm x 100mm</strong></li>
              </ul>
              <br/>
              <button class="btn btn-large"><i class="icon-envelope"></i>&nbsp Send note to operator</button>
            </div>
          </div>
          <br/>

          <div class="row-fluid">
            <div class="span12">
              <table class="table">
                <tbody>
                <tr>
                  <td class="description">Status</td>
                  <td class="value"><span><strong>Processing</strong></span></td>
                </tr>
                <tr>
                  <td class="description">Speed</td>
                  <td class="value"><span><strong>100</strong></span></td>
                </tr>
                <tr>
                  <td class="description">Average Parts Per Minute</td>
                  <td class="value"><span><strong>181</strong></span></td>
                </tr>
                <tr>
                  <td class="description">Parts Processed</td>
                  <td class="value"><span><strong>60,840</strong></span></td>
                </tr>
                </tbody>
              </table>
              <button class="btn btn-danger btn-large"><i class="icon-stop"></i>&nbsp Stop Production</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /widget-content -->

    </div>

  </div>

  <div class="span6">
    <div class="widget widget-nopad">

      <div class="widget-header">
        <span class="icon-th"></span>

        <h3>All Recipes</h3>
      </div>
      <!-- .widget-header -->

      <div class="widget-content">
        <div id="available-recipes">
          <div class="group">
            <h3><a href="#">Product A</a></h3>

            <div>
              <div class="row-fluid">
                <div class="span6">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/260x180" alt="">
                  </a>
                </div>
                <div class="span6">
                  <h6>Description</h6>
                  <br/>
                  <ul>
                    <li>Part Size: <strong>25mm x 25mm</strong></li>
                    <li>Pallet: <strong>4 x 4 x 4</strong></li>
                    <li>Default Speed: <strong>100</strong></li>
                    <li>Box Size: <strong>100mm x 100mm x 100mm</strong></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <h3><a href="#">Product B</a></h3>

             <div>
              <div class="row-fluid">
                <div class="span6">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/260x180" alt="">
                  </a>
                </div>
                <div class="span6">
                  <h6>Description</h6>
                  <br/>
                  <ul>
                    <li>Part Size: <strong>25mm x 25mm</strong></li>
                    <li>Pallet: <strong>4 x 4 x 4</strong></li>
                    <li>Default Speed: <strong>100</strong></li>
                    <li>Box Size: <strong>100mm x 100mm x 100mm</strong></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <h3><a href="#">Product C</a></h3>

             <div>
              <div class="row-fluid">
                <div class="span6">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/260x180" alt="">
                  </a>
                </div>
                <div class="span6">
                  <h6>Description</h6>
                  <br/>
                  <ul>
                    <li>Part Size: <strong>25mm x 25mm</strong></li>
                    <li>Pallet: <strong>4 x 4 x 4</strong></li>
                    <li>Default Speed: <strong>100</strong></li>
                    <li>Box Size: <strong>100mm x 100mm x 100mm</strong></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <h3><a href="#">Product D</a></h3>

             <div>
              <div class="row-fluid">
                <div class="span6">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/260x180" alt="">
                  </a>
                </div>
                <div class="span6">
                  <h6>Description</h6>
                  <br/>
                  <ul>
                    <li>Part Size: <strong>25mm x 25mm</strong></li>
                    <li>Pallet: <strong>4 x 4 x 4</strong></li>
                    <li>Default Speed: <strong>100</strong></li>
                    <li>Box Size: <strong>100mm x 100mm x 100mm</strong></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .widget-content -->
    </div>

  </div>

</div>

