<div class="row-fluid">

  <div class="span6">

    <div class="widget">

      <div class="widget-header">
        <i class="icon-info-sign"></i>

        <h3>About</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">
        <table class="table">
          <tbody>
          <tr>
            <td class="description">Workspace Path</td>
            <td class="value"><span><strong>/Robots/Robot</strong></span></td>
          </tr>
          <tr>
            <td class="description">Model</td>
            <td class="value"><span><strong>Quattro s650</strong></span></td>
          </tr>
          <tr>
            <td class="description">Platform</td>
            <td class="value"><span><strong>P31</strong></span></td>
          </tr>
          <tr>
            <td class="description">Associated Controller</td>
            <td class="value"><span><strong>/SmartControllers/Controller</strong></span></td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-danger"><i class="icon-retweet"></i>&nbsp Reboot</button>
      </div>
      <!-- /widget-content -->

    </div>

    <div class="widget">

      <div class="widget-header">
        <span class="icon-cog"></span>

        <h3>Settings</h3>
      </div>
      <!-- .widget-header -->

      <div class="widget-content">
        <table class="table">
          <tbody>
          <tr>
            <td class="description">Power Status</td>
            <td class="value"><span><strong>Enabled</strong></span></td>
          </tr>
          <tr>
            <td class="description">Default Speed</td>
            <td class="value"><span><strong>50</strong></span></td>
          </tr>
          <tr>
            <td class="description">Robot Number</td>
            <td class="value"><span><strong>1</strong></span></td>
          </tr>
          <tr>
            <td class="description">2-Digit Status</td>
            <td class="value"><span><strong>ON</strong></span></td>
          </tr>
          </tbody>
        </table>
        <button class="btn btn-primary"><i class="icon-edit"></i>&nbsp Edit</button>
      </div>
      <!-- .widget-content -->
    </div>

  </div>

  <div class="span6">

    <div class="widget">

      <div class="widget-header">
        <span class="icon-camera"></span>

        <h3>Product Images From Robot Camera</h3>
      </div>
      <!-- .widget-header -->

      <div class="widget-content">
        <ul class="thumbnails">
          <li class="span4">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </li>
           <li class="span4">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </li>
           <li class="span4">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span4">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </li>
           <li class="span4">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </li>
           <li class="span4">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span4">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </li>
           <li class="span4">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </li>
           <li class="span4">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/260x180" alt="">
            </a>
          </li>
        </ul>
      </div>
      <!-- .widget-content -->
    </div>

  </div>

</div>

