
		<div class="container">
		
			<div class="row">
			
				<div class="span6">
				
					<div class="widget">
						
						<div class="widget-header">
							<i class="icon-bar-chart"></i>
							<h3>Bar Chart</h3>
						</div> <!-- /widget-header -->
						
						<div class="widget-content">
						
							<div id="bar-chart" class="chart-holder"></div> <!-- /bar-chart -->
						
						</div> <!-- /widget-content -->
					
					</div> <!-- /widget -->		
					
					
				
					<div class="widget">
						
						<div class="widget-header">
							<i class="icon-bar-chart"></i>
							<h3>Area Chart</h3>
						</div> <!-- /widget-header -->
						
						<div class="widget-content">
						
							<div id="area-chart" class="chart-holder"></div> <!-- /area-chart -->
						
						</div> <!-- /widget-content -->
					
					</div> <!-- /widget -->	
					
					
					
				
					<div class="widget">
						
						<div class="widget-header">
							<i class="icon-bar-chart"></i>
							<h3>Pie Chart</h3>
						</div> <!-- /widget-header -->
						
						<div class="widget-content">
						
							<div id="pie-chart" class="chart-holder"></div> <!-- /pie-chart -->
						
						</div> <!-- /widget-content -->
					
					</div> <!-- /widget -->			
				
				</div> <!-- /span6 -->
				
				
			
				<div class="span6">
				
					<div class="widget">
						
						<div class="widget-header">
							<i class="icon-bar-chart"></i>
							<h3>Donut Chart</h3>
						</div> <!-- /widget-header -->
						
						<div class="widget-content">
						
							<div id="donut-chart" class="chart-holder"></div> <!-- /bar-chart -->
						
						</div> <!-- /widget-content -->
					
					</div> <!-- /widget -->	
					
					
				
					<div class="widget">
						
						<div class="widget-header">
							<i class="icon-bar-chart"></i>
							<h3>Line Chart</h3>
						</div> <!-- /widget-header -->
						
						<div class="widget-content">
						
							<div id="line-chart" class="chart-holder"></div> <!-- /line-chart -->
						
						</div> <!-- /widget-content -->
					
					</div> <!-- /widget -->				
				
				</div> <!-- /span6 -->
			
			
			</div> <!-- /row -->
		
		
		</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="./js/jquery-1.7.2.min.js"></script>-->
<!--<script src="./js/excanvas.min.js"></script>-->
<!--<script src="./js/jquery.flot.js"></script>-->
<!--<script src="./js/jquery.flot.pie.js"></script>-->
<!--<script src="./js/jquery.flot.orderBars.js"></script>-->
<!--<script src="./js/jquery.flot.resize.js"></script>-->


<!--<script src="./js/bootstrap.js"></script>-->
<!--<script src="./js/base.js"></script>-->

<!--<script src="./js/charts/bar.js"></script>-->
<!--<script src="./js/charts/donut.js"></script>-->
<!--<script src="./js/charts/line.js"></script>-->
<!--<script src="./js/charts/pie.js"></script>-->
<!--<script src="./js/charts/area.js"></script>-->
