<div class="container">

<div class="row">

<div class="span6">

  <div class="widget">

    <div class="widget-header">
      <i class="icon-star"></i>

      <h3>Quick Stats</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">

      <div id="chart-stats" class="stats">

        <div class="stat stat-time">
          <span class="stat-value">84.78 %</span>
          O.E.E.
        </div>
        <!-- /substat -->

        <div class="stat stat-time">
          <span class="stat-value">03:28:13</span>
          Total Uptime
        </div>
        <!-- /substat -->

      </div>
      <!-- /substats -->

      <div class="stats">

        <div class="stat">
          <span class="stat-value">8,367</span>
          Parts Processed
        </div>
        <!-- /stat -->

        <div class="stat">
          <span class="stat-value">185</span>
          Parts Per Minute
        </div>
        <!-- /stat -->

        <div class="stat">
          <span class="stat-value">97 %</span>
          Processing Time
        </div>
        <!-- /stat -->

      </div>
      <!-- /stats -->

      <div class="well">
        <div class="row-fluid">
          <h5>Order progress: <b>70%</b></h5>
        </div>
        <br/>

        <div class="row-fluid">
          <div class="span12">
            <div class="progress progress-success">
              <div class="bar" style="width:70%">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /widget-content -->

  </div>
  <!-- /widget -->

  <div class="widget">

    <div class="widget-header">
      <i class="icon-bookmark"></i>

      <h3>Quick Shortcuts</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">

      <div class="shortcuts">
        <a href="/pages/workspace" class="shortcut">
          <i class="shortcut-icon icon-list-alt"></i>
          <span class="shortcut-label">Workspace</span>
        </a>

        <a href="/pages/reports" class="shortcut">
          <i class="shortcut-icon icon-bar-chart"></i>
          <span class="shortcut-label">Reports</span>
        </a>

        <a href="/pages/products" class="shortcut">
          <i class="shortcut-icon icon-tags"></i>
          <span class="shortcut-label">Products</span>
        </a>

        <a href="/pages/info" class="shortcut">
          <i class="shortcut-icon icon-info-sign"></i>
          <span class="shortcut-label">Info</span>
        </a>

        <a href="#" class="shortcut">
          <i class="shortcut-icon icon-user"></i>
          <span class="shortcut-label">Account</span>
        </a>

        <a href="#" class="shortcut">
          <i class="shortcut-icon icon-file"></i>
          <span class="shortcut-label">Notes</span>
        </a>

        <a href="#" class="shortcut">
          <i class="shortcut-icon icon-picture"></i>
          <span class="shortcut-label">Images</span>
        </a>

        <a href="#" class="shortcut">
          <i class="shortcut-icon icon-comments"></i>
          <span class="shortcut-label">Community</span>
        </a>
      </div>
      <!-- /shortcuts -->

    </div>
    <!-- /widget-content -->

  </div>
  <!-- /widget -->

</div>
<!-- /span6 -->


<div class="span6">

  <div class="widget">

    <div class="widget-header">
      <i class="icon-signal"></i>

      <h3>Shift Progress</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">
      <div class="content" id="hourly-parts-processed-chart-container">
        <div id="hourly-parts-processed-chart"></div>
      </div>
    </div>
    <!-- /widget-content -->

  </div>
  <!-- /widget -->

  <div class="widget widget-nopad">

    <div class="widget-header">
      <i class="icon-list-alt"></i>

      <h3>Notifications and Alerts</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">

      <ul class="news-items">
        <li>
          <div class="news-item-detail">
            <span class="label label-success">Milestone</span>
            <a href="javascript:;" class="news-item-title">System completed order #256</a>

            <p class="news-item-preview">The system completed order #256. It reached the production milestone by
              processing 11230 units of Product A.</p>
          </div>

          <div class="news-item-date">
            <span class="news-item-day">08</span>
            <span class="news-item-month">Jul</span>
          </div>
        </li>
        <li>

          <div class="news-item-detail">
            <span class="label label-info">Heads up</span>
            <a href="javascript:;" class="news-item-title">Gripper changeover needed</a>

            <p class="news-item-preview">Grippers have been through 100000 cycles. We recommend that you
              replace the grippers. More grippers can be ordered from the <a href="/pages/products">Products</a> section.</p>
          </div>

          <div class="news-item-date">
            <span class="news-item-day">07</span>
            <span class="news-item-month">Jul</span>
          </div>
        </li>

        <li>
          <div class="news-item-detail">
            <span class="label label-warning">Warning</span>
            <a href="javascript:;" class="news-item-title">Frequent belt window violations on Robot 1</a>

            <p class="news-item-preview">The robot has been moving to the extremes of the belt window frequently. This
              implies that the robot is unable to keep up with the part flow. Please adjust the infeed rate or tune the
              robot motions to optimize the system's performance.</p>
          </div>

          <div class="news-item-date">
            <span class="news-item-day">06</span>
            <span class="news-item-month">Jul</span>
          </div>
        </li>
      </ul>

    </div>
    <!-- /widget-content -->

  </div>
  <!-- /widget -->

</div>
<!-- /span6 -->

</div>
<!-- /row -->

</div>
<!-- /container -->
