<div class="container">

<div class="row">

<div class="span6">

  <div class="widget">

    <div class="widget-header">
      <i class="icon-star"></i>

      <h3>Quick Stats</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">

      <div id="chart-stats" class="stats">

        <div class="stat stat-time">
          <span class="stat-value">92.78 %</span>
          O.E.E.
        </div>
        <!-- /substat -->

        <div class="stat stat-time">
          <span class="stat-value"><%= @pm_data_item_values["Parts Per Minute"] %></span>
          Parts Per Minute
        </div>
        <!-- /substat -->

      </div>
      <!-- /substats -->

      <div class="stats">

        <div class="stat">
          <span class="stat-value"><%= @pm_data_item_values["Total Uptime"] %></span>
          Total Uptime
        </div>
        <!-- /stat -->

        <div class="stat">
          <span class="stat-value"><%= @pm_data_item_values["Parts Processed"] %></span>
          Parts Processed
        </div>
        <!-- /stat -->

        <div class="stat">
          <span class="stat-value"><%= @pm_data_item_values["Processing Time"] %> %</span>
          Processing Time
        </div>
        <!-- /stat -->

      </div>
      <!-- /stats -->

      <div class="well">
        <div class="row-fluid">
          <h5>Order progress: <b>70%</b></h5>
        </div>
        <br/>

        <div class="row-fluid">
          <div class="span12">
            <div class="progress progress-success">
              <div class="bar" style="width:70%">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /widget-content -->

  </div>
  <!-- /widget -->

  <div class="widget">

    <div class="widget-header">
      <i class="icon-bookmark"></i>

      <h3>Quick Shortcuts</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">

      <div class="shortcuts">
        <a href="/pages/monitor" class="shortcut">
          <i class="shortcut-icon icon-bar-chart"></i>
          <span class="shortcut-label">Monitor</span>
        </a>

        <a href="/pages/reports" class="shortcut">
          <i class="shortcut-icon icon-book"></i>
          <span class="shortcut-label">Reports</span>
        </a>

        <a href="#" class="shortcut">
          <i class="shortcut-icon icon-info-sign"></i>
          <span class="shortcut-label">Info</span>
        </a>

        <a href="#" class="shortcut">
          <i class="shortcut-icon icon-tags"></i>
          <span class="shortcut-label">Products</span>
        </a>

        <a href="#" class="shortcut">
          <i class="shortcut-icon icon-user"></i>
          <span class="shortcut-label">Account</span>
        </a>

        <a href="#" class="shortcut">
          <i class="shortcut-icon icon-file"></i>
          <span class="shortcut-label">Notes</span>
        </a>

        <a href="#" class="shortcut">
          <i class="shortcut-icon icon-picture"></i>
          <span class="shortcut-label">Images</span>
        </a>

        <a href="#" class="shortcut">
          <i class="shortcut-icon icon-comments"></i>
          <span class="shortcut-label">Community</span>
        </a>
      </div>
      <!-- /shortcuts -->

    </div>
    <!-- /widget-content -->

  </div>
  <!-- /widget -->

</div>
<!-- /span6 -->


<div class="span6">

  <div class="widget">

    <div class="widget-header">
      <i class="icon-signal"></i>

      <h3>Shift Progress</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">
      <div class="content" id="hourly-parts-processed-chart-container">
        <div id="hourly-parts-processed-chart"></div>
      </div>
    </div>
    <!-- /widget-content -->

  </div>
  <!-- /widget -->

  <div class="widget widget-nopad">

    <div class="widget-header">
      <i class="icon-list-alt"></i>

      <h3>Notifications and Alerts</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">

      <ul class="news-items">
        <li>
          <div class="news-item-detail">
            <span class="label label-success">Milestone</span>
            <a href="javascript:;" class="news-item-title">System completed order #256</a>

            <p class="news-item-preview">The system completed order #256. It reached the production milestone by
              processing 150,000 units of Product A.</p>
          </div>

          <div class="news-item-date">
            <span class="news-item-day">29</span>
            <span class="news-item-month">Oct</span>
          </div>
        </li>
        <li>

          <div class="news-item-detail">
            <span class="label label-info">Heads up</span>
            <a href="javascript:;" class="news-item-title">Gripper changeover needed</a>

            <p class="news-item-preview">Grippers have been through 1,000,000 cycles. We recommend that you
              replace the grippers. Please call an Adept Sales Representative to order more grippers.</p>
          </div>

          <div class="news-item-date">
            <span class="news-item-day">28</span>
            <span class="news-item-month">Oct</span>
          </div>
        </li>

        <li>
          <div class="news-item-detail">
            <span class="label label-warning">Warning</span>
            <a href="javascript:;" class="news-item-title">Frequent belt window violations on Robot 1</a>

            <p class="news-item-preview">The robot has been moving to the extremes of the belt window frequently. This
              implies that the robot is unable to keep up with the part flow. Please adjust the infeed rate or tune the
              robot motions to optimize the system's performance.</p>
          </div>

          <div class="news-item-date">
            <span class="news-item-day">28</span>
            <span class="news-item-month">Oct</span>
          </div>
        </li>
      </ul>

    </div>
    <!-- /widget-content -->

  </div>
  <!-- /widget -->

</div>
<!-- /span6 -->

</div>
<!-- /row -->

</div>
<!-- /container -->
