<div class="container">

<div class="row">

<div class="span6">

  <div class="widget">

    <div class="widget-header">
      <i class="icon-star"></i>

      <h3>Quick Stats</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">

      <div id="chart-stats" class="stats">

        <!--<div class="stat stat-chart">-->
        <!--<div id="donut-chart" class="chart-holder"></div>-->
        <!--&lt;!&ndash; #donut &ndash;&gt;-->
        <!--</div>-->
        <!-- /substat -->

        <div class="stat stat-time">
          <span class="stat-value">84.78 %</span>
          Overall Equipment Effectiveness
        </div>
        <!-- /substat -->

        <div class="stat stat-time">
          <span class="stat-value">03:28:13</span>
          Total Uptime
        </div>
        <!-- /substat -->

      </div>
      <!-- /substats -->

      <div class="stats">

        <div class="stat">
          <span class="stat-value">8,367</span>
          Parts Processed
        </div>
        <!-- /stat -->

        <div class="stat">
          <span class="stat-value">005</span>
          Parts Per Minute
        </div>
        <!-- /stat -->

        <div class="stat">
          <span class="stat-value">97 %</span>
          Processing Time
        </div>
        <!-- /stat -->

      </div>
      <!-- /stats -->

      <div class="well">
        <div class="row-fluid">
          <h5>Order progress: <b>70%</b></h5>
        </div>
        <br />
        <div class="row-fluid">
          <div class="span12">
            <div class="progress progress-success">
              <div class="bar" style="width:70%">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /widget-content -->

  </div>
  <!-- /widget -->

  <div class="widget">

  <div class="widget-header">
    <i class="icon-bookmark"></i>

    <h3>Quick Shortcuts</h3>
  </div>
  <!-- /widget-header -->

  <div class="widget-content">

    <div class="shortcuts">
      <a href="javascript:;" class="shortcut">
        <i class="shortcut-icon icon-list-alt"></i>
        <span class="shortcut-label">Apps</span>
      </a>

      <a href="javascript:;" class="shortcut">
        <i class="shortcut-icon icon-bookmark"></i>
        <span class="shortcut-label">Bookmarks</span>
      </a>

      <a href="javascript:;" class="shortcut">
        <i class="shortcut-icon icon-signal"></i>
        <span class="shortcut-label">Reports</span>
      </a>

      <a href="javascript:;" class="shortcut">
        <i class="shortcut-icon icon-comment"></i>
        <span class="shortcut-label">Comments</span>
      </a>

      <a href="javascript:;" class="shortcut">
        <i class="shortcut-icon icon-user"></i>
        <span class="shortcut-label">Users</span>
      </a>

      <a href="javascript:;" class="shortcut">
        <i class="shortcut-icon icon-file"></i>
        <span class="shortcut-label">Notes</span>
      </a>

      <a href="javascript:;" class="shortcut">
        <i class="shortcut-icon icon-picture"></i>
        <span class="shortcut-label">Photos</span>
      </a>

      <a href="javascript:;" class="shortcut">
        <i class="shortcut-icon icon-tag"></i>
        <span class="shortcut-label">Tags</span>
      </a>
    </div>
    <!-- /shortcuts -->

  </div>
  <!-- /widget-content -->

</div>
<!-- /widget -->

  <!--<div class="widget">-->

  <!--<div class="widget-header">-->
  <!--<i class="icon-file"></i>-->

  <!--<h3>Content</h3>-->
  <!--</div>-->
  <!--&lt;!&ndash; /widget-header &ndash;&gt;-->

  <!--<div class="widget-content">-->

  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
  <!--magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
  <!--consequat.</p>-->


  <!--<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
  <!--Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est-->
  <!--laborum.</p>-->

  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
  <!--magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
  <!--consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
  <!--Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est-->
  <!--laborum.</p>-->

  <!--</div>-->
  <!--&lt;!&ndash; /widget-content &ndash;&gt;-->

  <!--</div>-->
  <!-- /widget -->

</div>
<!-- /span6 -->


<div class="span6">

<div class="widget">

    <div class="widget-header">
      <i class="icon-signal"></i>

      <h3>Shift Progress</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">
      <div class="content" id= "hourly-parts-processed-chart-container">
        <div id= "hourly-parts-processed-chart"></div>
      </div>
    </div>
    <!-- /widget-content -->

  </div>
  <!-- /widget -->

<div class="widget widget-nopad">

  <div class="widget-header">
    <i class="icon-list-alt"></i>

    <h3>Notifications and Alerts</h3>
  </div>
  <!-- /widget-header -->

  <div class="widget-content">

    <ul class="news-items">
      <li>
        <div class="news-item-detail">
          <span class="label label-success">Milestone</span>
          <a href="javascript:;" class="news-item-title">System completed order #256</a>

          <p class="news-item-preview">The system completed order #256. It reached the production milestone by
            processing 11230 units of Product A.</p>
        </div>

        <div class="news-item-date">
          <span class="news-item-day">08</span>
          <span class="news-item-month">Jul</span>
        </div>
      </li>
      <li>

        <div class="news-item-detail">
          <span class="label label-info">Heads up</span>
          <a href="javascript:;" class="news-item-title">Gripper changeover needed</a>

          <p class="news-item-preview">Grippers have been through over 1,00,000 cycles. We recommend that you
          replace the grippers. More grippers can be ordered from the <a href="#">Products</a> section.</p>
        </div>

        <div class="news-item-date">
          <span class="news-item-day">07</span>
          <span class="news-item-month">Jul</span>
        </div>
      </li>

      <li>
        <div class="news-item-detail">
          <span class="label label-warning">Warning</span>
          <a href="javascript:;" class="news-item-title">Frequent belt window violations on Robot 1</a>

          <p class="news-item-preview">The robot has been moving to the extremes of the belt window frequently. This
            implies that the robot is unable to keep up with the part flow. Please adjust the infeed rate or tune the
            robot motions to optimize the system's performance.</p>
        </div>

        <div class="news-item-date">
          <span class="news-item-day">06</span>
          <span class="news-item-month">Jul</span>
        </div>
      </li>
    </ul>

  </div>
  <!-- /widget-content -->

</div>
<!-- /widget -->


<!--<div class="widget widget-table action-table">-->

<!--<div class="widget-header">-->
<!--<i class="icon-th-list"></i>-->

<!--<h3>Table</h3>-->
<!--</div>-->
<!--&lt;!&ndash; /widget-header &ndash;&gt;-->

<!--<div class="widget-content">-->

<!--<table class="table table-striped table-bordered">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Engine</th>-->
<!--<th>Browser</th>-->
<!--<th class="td-actions"></th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td>Trident</td>-->
<!--<td>Internet-->
<!--Explorer 4.0-->
<!--</td>-->
<!--<td class="td-actions">-->
<!--<a href="javascript:;" class="btn btn-small btn-warning">-->
<!--<i class="btn-icon-only icon-ok"></i>-->
<!--</a>-->

<!--<a href="javascript:;" class="btn btn-small">-->
<!--<i class="btn-icon-only icon-remove"></i>-->
<!--</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Trident</td>-->
<!--<td>Internet-->
<!--Explorer 5.0-->
<!--</td>-->
<!--<td class="td-actions">-->
<!--<a href="javascript:;" class="btn btn-small btn-warning">-->
<!--<i class="btn-icon-only icon-ok"></i>-->
<!--</a>-->

<!--<a href="javascript:;" class="btn btn-small">-->
<!--<i class="btn-icon-only icon-remove"></i>-->
<!--</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Trident</td>-->
<!--<td>Internet-->
<!--Explorer 5.5-->
<!--</td>-->
<!--<td class="td-actions">-->
<!--<a href="javascript:;" class="btn btn-small btn-warning">-->
<!--<i class="btn-icon-only icon-ok"></i>-->
<!--</a>-->

<!--<a href="javascript:;" class="btn btn-small">-->
<!--<i class="btn-icon-only icon-remove"></i>-->
<!--</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Trident</td>-->
<!--<td>Internet-->
<!--Explorer 5.5-->
<!--</td>-->
<!--<td class="td-actions">-->
<!--<a href="javascript:;" class="btn btn-small btn-warning">-->
<!--<i class="btn-icon-only icon-ok"></i>-->
<!--</a>-->

<!--<a href="javascript:;" class="btn btn-small">-->
<!--<i class="btn-icon-only icon-remove"></i>-->
<!--</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Trident</td>-->
<!--<td>Internet-->
<!--Explorer 5.5-->
<!--</td>-->
<!--<td class="td-actions">-->
<!--<a href="javascript:;" class="btn btn-small btn-warning">-->
<!--<i class="btn-icon-only icon-ok"></i>-->
<!--</a>-->

<!--<a href="javascript:;" class="btn btn-small">-->
<!--<i class="btn-icon-only icon-remove"></i>-->
<!--</a>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Trident</td>-->
<!--<td>Internet-->
<!--Explorer 5.5-->
<!--</td>-->
<!--<td class="td-actions">-->
<!--<a href="javascript:;" class="btn btn-small btn-warning">-->
<!--<i class="btn-icon-only icon-ok"></i>-->
<!--</a>-->

<!--<a href="javascript:;" class="btn btn-small">-->
<!--<i class="btn-icon-only icon-remove"></i>-->
<!--</a>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->

<!--</div>-->
<!--&lt;!&ndash; /widget-content &ndash;&gt;-->

<!--</div>-->
<!-- /widget -->

</div>
<!-- /span6 -->

</div>
<!-- /row -->

</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="./js/jquery-1.7.2.min.js"></script>-->
<!--<script src="./js/excanvas.min.js"></script>-->
<!--<script src="./js/jquery.flot.js"></script>-->
<!--<script src="./js/jquery.flot.pie.js"></script>-->
<!--<script src="./js/jquery.flot.orderBars.js"></script>-->
<!--<script src="./js/jquery.flot.resize.js"></script>-->


<!--<script src="./js/bootstrap.js"></script>-->
<!--<script src="./js/base.js"></script>-->

<!--<script src="./js/charts/area.js"></script>-->
<!--<script src="./js/charts/donut.js"></script>-->

