<div class="container">
  <div class="row-fluid">

    <div class="span10">
      <div class="widget">

        <div class="widget-header">
          <i class="icon-th"></i>

          <h3>Live data from ACE</h3>
        </div>
        <!-- /widget-header -->

        <div class="widget-content">
          <div id="live-data-chart-container">
          </div>
        </div>

        <!-- /widget-content -->

      </div>

    </div>
  </div>
</div>