<div class="container">

  <div class="row">

    <div class="span6">

      <div class="widget">

        <div class="widget-header">
          <i class="icon-star"></i>

          <h3>Process Manager</h3>
        </div>
        <!-- /widget-header -->

        <div class="widget-content">

          <div id="live-pm-data-chart-container">
          </div>

        </div>
        <!-- /widget-content -->

      </div>
      <!-- /widget -->

      <div class="widget">

        <div class="widget-header">
          <i class="icon-star"></i>

          <h3>Robots</h3>
        </div>
        <!-- /widget-header -->

        <div class="widget-content">

          <div id="live-robot-data-chart-container">
          </div>

        </div>
        <!-- /widget-content -->

      </div>
      <!-- /widget -->

    </div>
    <!-- /span6 -->

    <div class="span6">
      <div class="widget">

        <div class="widget-header">
        </div>

        <div class="widget-content">
        </div>

      </div>
    </div>
    <!-- /span6 -->

  </div>
  <!-- /row -->

</div> <!-- /container -->
