<div class="container">

  <div class="row">

    <div class="span12">

      <table class="table table-striped">

        <thead>

            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
              <th>Part Number</th>
              <th>Quantity</th>
              <th></th>
            </tr>

        </thead>

        <tbody>

            <tr>
              <td>
                <img src="http://placehold.it/160x120" alt="">
              </td>
              <td><a href="#">Gripper A</a></td>
              <td>Gripper A is used for handling bags</td>
              <td>092-7800-XXX</td>
              <td>
                <select class="span1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
              </td>
              <td>
                <button class="btn btn-primary btn-large"><i class="icon-shopping-cart"></i>&nbsp Add to Cart</button>
              </td>
            </tr>
            <tr>
              <td>
                <img src="http://placehold.it/160x120" alt="">
              </td>
              <td><a href="#">Gripper B</a></td>
              <td>Gripper B is used for handling raw meat</td>
              <td>092-7800-XXX</td>
              <td>
                <select class="span1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
              </td>
              <td>
                <button class="btn btn-primary btn-large"><i class="icon-shopping-cart"></i>&nbsp Add to Cart</button>
              </td>
            </tr>
            <tr>
              <td>
                <img src="http://placehold.it/160x120" alt="">
              </td>
              <td><a href="#">Gripper C</a></td>
              <td>Gripper C is used for handling clamshells</td>
              <td>092-7800-XXX</td>
              <td>
                <select class="span1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
              </td>
              <td>
                <button class="btn btn-primary btn-large"><i class="icon-shopping-cart"></i>&nbsp Add to Cart</button>
              </td>
            </tr>
            <tr>
              <td>
                <img src="http://placehold.it/160x120" alt="">
              </td>
              <td><a href="#">Gripper D</a></td>
              <td>Gripper D is used for handling solar wafers</td>
              <td>092-7800-XXX</td>
              <td>
                <select class="span1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
              </td>
              <td>
                <button class="btn btn-primary btn-large"><i class="icon-shopping-cart"></i>&nbsp Add to Cart</button>
              </td>
            </tr>

        </tbody>

      </table>

    </div>
    <!-- /span12 -->

  </div>
  <!-- /row -->

</div>
<!-- /container -->
