<div class="container">

<div class="row">

  <div class="span12">

    <div class="widget big-stats-container">

      <div class="widget-content">

        <div id="big_stats" class="cf">
          <div class="stat">
            <h4>Average Parts Per Minute</h4>
            <span class="value">322</span>
          </div>
          <!-- .stat -->

          <div class="stat">
            <h4>Pallets Shipped This Week</h4>
            <span class="value">280</span>
          </div>
          <!-- .stat -->

          <div class="stat">
            <h4>Parts Processed This Week</h4>
            <span class="value">3,225,640</span>
          </div>
          <!-- .stat -->

          <div class="stat">
            <h4>Overall Equipment Effectiveness</h4>
            <span class="value">92%</span>
          </div>
          <!-- .stat -->

        </div>

      </div>
      <!-- /widget-content -->

    </div>
    <!-- /widget -->

  </div>
  <!-- /span12 -->

</div>
<!-- /row -->

<div class="row">

  <div class="span6">

    <div class="widget">

      <div class="widget-header">
        <i class="icon-star"></i>

        <h3>Product Distribution This Week</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">

        <div id="product-distribution-chart" class="chart-holder"></div>

      </div>
      <!-- /widget-content -->

    </div>
    <!-- /widget -->


  </div>
  <!-- /span6 -->

  <div class="span6">

    <div class="widget">

      <div class="widget-header">
        <i class="icon-list-alt"></i>

        <h3>Parts Processed This Week</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">

        <div id="weekly-progress-chart" class="chart-holder"></div>

      </div>
      <!-- /widget-content -->

    </div>
    <!-- /widget -->

  </div>
  <!-- /span6 -->

</div>
<!-- /row -->


<div class="row">
  <div class="span12">
    <div class="widget">

      <div class="widget-header">
        <i class="icon-star"></i>

        <h3>Product Flow</h3>
      </div>
      <!-- /widget-header -->

      <div class="widget-content">

        <div id="product-flow-chart" class="chart-holder"></div>

      </div>
      <!-- /widget-content -->

    </div>
    <!-- /widget -->
  </div>
</div>


<div class="row">

  <div class="span4">

    <div class="widget widget-table">

      <div class="widget-header">
        <span class="icon-list"></span>

        <h3>System</h3>
      </div>
      <!-- .widget-header -->

      <div class="widget-content">
        <table class="table table-bordered table-striped">

          <thead>
          <tr>
            <th>Data Item</th>
            <th>Value</th>
          </tr>
          </thead>

          <tbody>

          <tr>
            <td class="description"><a href="javascript:;">Parts Per Minute</a></td>
            <td class="value"><span>322</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Targets Per Minute</a></td>
            <td class="value"><span>322</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Parts Processed</a></td>
            <td class="value"><span>3,225,640</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Processing Time</a></td>
            <td class="value"><span>98.3%</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Idle Time</a></td>
            <td class="value"><span>1.7%</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Total Uptime</a></td>
            <td class="value"><span>165 hours</span></td>
          </tr>

          </tbody>
        </table>

      </div>
      <!-- .widget-content -->

    </div>

  </div>
  <!-- /span4 -->


  <div class="span4">

    <div class="widget widget-table">

      <div class="widget-header">
        <span class="icon-list"></span>

        <h3>Robot 1</h3>
      </div>
      <!-- .widget-header -->

      <div class="widget-content">
        <table class="table table-bordered table-striped">

          <thead>
          <tr>
            <th>Data Item</th>
            <th>Value</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td class="description"><a href="javascript:;">Parts Per Minute</a></td>
            <td class="value"><span>141</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Targets Per Minute</a></td>
            <td class="value"><span>141</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Parts Processed</a></td>
            <td class="value"><span>2,412,469</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Processing Time</a></td>
            <td class="value"><span>98.2%</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Idle Time</a></td>
            <td class="value"><span>1.8%</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Total Uptime</a></td>
            <td class="value"><span>165 hours</span></td>
          </tr>

          </tbody>
        </table>

      </div>
      <!-- .widget-content -->

    </div>

  </div>
  <!-- /span4 -->


  <div class="span4">

    <div class="widget widget-table">

      <div class="widget-header">
        <span class="icon-list"></span>

        <h3>Robot 2</h3>
      </div>
      <!-- .widget-header -->

      <div class="widget-content">
        <table class="table table-bordered table-striped">

          <thead>
          <tr>
            <th>Data Item</th>
            <th>Value</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td class="description"><a href="javascript:;">Parts Per Minute</a></td>
            <td class="value"><span>181</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Targets Per Minute</a></td>
            <td class="value"><span>181</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Parts Processed</a></td>
            <td class="value"><span>1,813,171</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Processing Time</a></td>
            <td class="value"><span>98.4%</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Idle Time</a></td>
            <td class="value"><span>1.6%</span></td>
          </tr>
          <tr>
            <td class="description"><a href="javascript:;">Total Uptime</a></td>
            <td class="value"><span>165 hours</span></td>
          </tr>

          </tbody>
        </table>

      </div>
      <!-- .widget-content -->

    </div>

  </div>
  <!-- /span4 -->

</div>
<!-- /row -->


</div> <!-- /container -->

<!--<script src="./js/jquery-1.7.2.min.js"></script>-->
<!--<script src="./js/excanvas.min.js"></script>-->
<!--<script src="./js/jquery.flot.js"></script>-->
<!--<script src="./js/jquery.flot.pie.js"></script>-->
<!--<script src="./js/jquery.flot.orderBars.js"></script>-->
<!--<script src="./js/jquery.flot.resize.js"></script>-->
<!---->
<!--<script src="./js/bootstrap.js"></script>-->
<!--<script src="./js/base.js"></script>-->

<!--<script src="./js/charts/pie.js"></script>-->
<!--<script src="./js/charts/bar.js"></script>-->
