<p id="notice"><%= notice %></p>

<p>
  <b>Workspace path:</b>
  <%= @process_manager.workspace_path %>
</p>


<%= link_to 'Edit', edit_process_manager_path(@process_manager) %> |
<%= link_to 'Back', process_managers_path %>
