.stat-summary-description {
    margin: 15px;
    text-align: left;
    display: inline-block;
}

.stat-summary-value {
    float: right;
    margin: 30px 60px 15px 15px;
    text-align: right;
    display: inline-block;
}