<div class="subnavbar">

  <div class="subnavbar-inner">

    <div class="container">

      <ul class="mainnav">

        <li class="active" id="home_tab">
          <a href="/">
            <i class="icon-home"></i>
            <span>Home</span>
          </a>
        </li>

        <li id="monitor_tab">
          <a href="/pages/monitor">
            <i class="icon-bar-chart"></i>
            <span>Monitor</span>
          </a>
        </li>

        <!--<li id="workspace_tab">-->
          <!--<a href="/pages/workspace">-->
            <!--<i class="icon-list-alt"></i>-->
            <!--<span>Workspace</span>-->
          <!--</a>-->
        <!--</li>-->

        <li id="reports_tab">
          <a href="/pages/reports">
            <i class="icon-book"></i>
            <span>Reports</span>
          </a>
        </li>

        <!--<li id="pricing_tab">-->
          <!--<a href="/pages/pricing">-->
            <!--<i class="icon-th-large"></i>-->
            <!--<span>Pricing Plans</span>-->
          <!--</a>-->
        <!--</li>-->

         <!--<li id="products_tab">-->
          <!--<a href="/pages/products">-->
            <!--<i class="icon-tags"></i>-->
            <!--<span>Products</span>-->
          <!--</a>-->
        <!--</li>-->

         <!--<li id="info_tab">-->
          <!--<a href="/pages/info">-->
            <!--<i class="icon-info-sign"></i>-->
            <!--<span>Info</span>-->
          <!--</a>-->
        <!--</li>-->

      </ul>

    </div>
    <!-- /container -->

  </div>
  <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->