<div class="subnavbar">

  <div class="subnavbar-inner">

    <div class="container">

      <ul class="mainnav">

        <li class="active" id="home_tab">
          <a href="/">
            <i class="icon-home"></i>
            <span>Home</span>
          </a>
        </li>

        <li id="workspace_tab">
          <a href="/pages/workspace">
            <i class="icon-list-alt"></i>
            <span>Workspace</span>
          </a>
        </li>

        <li id="reports_tab">
          <a href="/pages/reports">
            <i class="icon-bar-chart"></i>
            <span>Reports</span>
          </a>
        </li>

        <li id="robotracker_tab">
          <a href="#">
            <i class="icon-map-marker"></i>
            <span>RoboTracker</span>
          </a>
        </li>

         <li id="community_tab">
          <a href="#">
            <i class="icon-comments"></i>
            <span>Community</span>
          </a>
        </li>

        <li id="faq_tab">
          <a href="/pages/faq">
            <i class="icon-pushpin"></i>
            <span>FAQ</span>
          </a>
        </li>

        <li id="pricing_tab">
          <a href="/pages/pricing">
            <i class="icon-th-large"></i>
            <span>Pricing Plans</span>
          </a>
        </li>

        <!--<li>-->
          <!--<a href="./guidely.html">-->
            <!--<i class="icon-facetime-video"></i>-->
            <!--<span>Guided Tour</span>-->
          <!--</a>-->
        <!--</li>-->

        <!--<li class="dropdown">-->
          <!--<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">-->
            <!--<i class="icon-share-alt"></i>-->
            <!--<span>More Pages</span>-->
            <!--<b class="caret"></b>-->
          <!--</a>-->

          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="./charts.html">Charts</a></li>-->
            <!--<li><a href="./account.html">User Account</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="./login.html">Login</a></li>-->
            <!--<li><a href="./signup.html">Signup</a></li>-->
            <!--<li><a href="./error.html">Error</a></li>-->
          <!--</ul>-->
        <!--</li>-->

      </ul>

    </div>
    <!-- /container -->

  </div>
  <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->